<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-header [translucent]="true">
 
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img alt="Silhouette of mountains" src="{{imagencard1}}" />    <ion-card-header>
      
      <ion-input [(ngModel)]="cardName"></ion-input>
    </ion-card-header>
  
    <ion-textarea [(ngModel)]="cardText"></ion-textarea> 
    <ion-button expand="full" (click)="createCard()">Crear Tarjeta</ion-button>
  </ion-card>

  

<ion-toolbar>
<ion-tab-button tab="radio">
  <ion-icon name="camera-outline" (click)="takePicture1()"></ion-icon>
  Camara
</ion-tab-button>
</ion-toolbar>
</ion-content>