.icono{
    font-size: 40px;
    margin-left: 40px;
    color:#ea9010;
}
ion-card{
    border-radius: 10px;
    border:2px solid #ea9010;
}
ion-card-title{
    color: #ea9010;
}
body{
  
    background-image:"/assets/FONDO1.png ";
}