<ion-header [translucent]="true">
  <ion-toolbar  color="primary"  >
    <ion-title><ion-icon name="arrow-back-outline" [routerLink]="['/login']"></ion-icon>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card class="formulario">
    <ion-card-header  color="primary">
      <ion-card-title >Registro</ion-card-title>
    </ion-card-header>
  <ion-card-content>
  
  </ion-card-content>
  <form [formGroup]="formularioRegistro">
    <ion-item>
      <ion-label pasition="floating">usuario</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label pasition="floating">contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label pasition="floating"> Confirmar contraseña</ion-label>
        <ion-input formControlName="confirmacionpassword" type="password"></ion-input>
      </ion-item>
  
  </form>
  <ion-button (click)="guardar()">Guardar</ion-button>
  
  </ion-card>

